.popup-box{

    &--running{
        
        & .leaflet-popup-content-wrapper{
            border-bottom: solid #28b485 .5rem;   
        }

        & .leaflet-popup-tip{
            background: #28b485;
        }
    }

    &--cycling{

        & .leaflet-popup-content-wrapper{
            border-bottom: solid #ecac35 .5rem;     
        }

        & .leaflet-popup-tip{
            background: #ecac35;
        }
        
    }

    &__icon{
        font-size: 2rem;
    }
}

.leaflet-popup-content-wrapper{
    background: $color-gray-dark;
}

.leaflet-popup-content{
    color: #eee;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: .5rem 1.9rem;
}